body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:white;
}

.std{
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color:antiquewhite;
    text-align: center;
}

h1{
    color:crimson;
    font-size: 25px;
}

h3{
    color:black;
    font-size: small;
}

